<div class=" max-w-5xl mx-auto min-h-screen">
    <article class="">
        <p class="text-center text-lg text-pink-700 font-medium">
            {{ user()?.name | LetterUppercasePipe }}
        </p>
        <span class="block text-center text-sm text-gray-500 font-normal">
            {{ user()?.username}}
        </span>
    </article>
    <article class="flex items-center justify-around mt-3">
        <div class="font-bold text-sm text-gray-500 flex flex-col items-center">
            <span>publicaciones</span>
            <span>{{ quantityPostsByUser() }} </span>
        </div>
        <div class="font-bold text-sm text-gray-500 flex flex-col items-center">
            <span>me gusta</span>
            <span>{{ quantityLikesByPosts() }}</span>
        </div>
        <div class="font-bold text-sm text-gray-500 flex flex-col items-center">
            <span>guardados</span>
            <span>{{ quantityBookMarkPosts() }}</span>
        </div>
    </article>
    <article>
        <app-tabs />
    </article>
    <router-outlet />
</div>