<article class="p-2 mt-7 flex items-center justify-around border border-b-2 border-b-gray-300">
    <a routerLink="./" class="flex items-center space-x-2 text-gray-600">
        <app-squares-icon />
        <span class="block">Publicaciones</span>
    </a>
    <a routerLink="likes" class="flex items-center space-x-2 text-gray-600">
        <app-heart-icon />
        <span class="block">Me gusta</span>
    </a>
    <a routerLink="saved" class="flex items-center space-x-2 text-gray-600">
        <app-bookmark-icon />
        <span class="block">Guardados</span>
    </a>
</article>